<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script type="application/javascript" src="../framework/jquery/jquery-2.1.4.min.js"></script>
</head>
<body>
<form method="get" action="/qq/toLogin">
    <div id="myInfo">
        <div class="panel panel-primary container">
            <div class="panel-heading">
                <div class="panel-title text-center">个人中心</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label class="control-label col-md-2">用户名:$user.nickName</label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">头像</label>
                            <div class="col-md-10">
                                <img src="$user.headPhoto" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                Copyright 2015 小莫版本所有
            </div>
        </div>
    </div>
</form>
</body>
</html>